.experience {
  &__item {
    padding: 15px 20px;
    display: flex;
    gap: 15px;

    background-color: rgba($color: #e6e8f1, $alpha: 0.2);

    &:first-child {
      border-radius: 10px 10px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 10px 10px;
    }

    &:only-child {
      border-radius: 10px;
    }

    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }

    @media (max-width: 630px) {
      padding: 10px;
      justify-content: center;
    }
  }

  &__body {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      right: -8px;
      background-color: rgb(230, 232, 241);
    }

    @media (max-width: 630px) {
      flex: 1 1 auto;

      &::after {
        display: none;
      }
    }
  }

  &__company {
    display: flex;
    gap: 5px;
  }

  &__description {
    flex: 0 0 50%;

    font-size: 13px;
    line-height: 130%;

    @media (max-width: 630px) {
      display: none;
    }
  }

  &__time {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.company {
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;

    @media (max-width: 479.98px) {
      gap: 0;
    }
  }
}

.info {
  &__post {
    color: #81878c;
    font-size: 12px;
    font-weight: 600;

    @media (max-width: 479.98px) {
      font-size: 10px;
    }
  }

  &__place {
    color: #373b3f;
    font-size: 12px;
    font-weight: 500;

    @media (max-width: 479.98px) {
      font-size: 10px;
    }
  }
}

.time {
  &__text {
    padding: 5px;

    color: #cda049;
    text-align: center;
    font-size: 11px;
    font-weight: 500;

    background-color: #f7f3ed;
    border-radius: 3px;

    @media (max-width: 479.98px) {
      font-size: 10px;
    }
  }

  &__type {
    color: #81878c;
    font-size: 11px;
    text-align: right;

    @media (max-width: 479.98px) {
      font-size: 10px;
    }
  }
}
