.projects {
  &__list {
    padding: 20px 0px 0px 0px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 479.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
