.SkillsItem {
  position: relative;

  color: #52575c;
  font-size: 13px;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -12px;
    width: 6px;
    height: 6px;
    background-color: #81878c;
    border-radius: 50%;
  }
}
