.languages {
  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
  }

  &__language {
    flex: 0 0 20%;
    font-size: 13px;
    font-weight: 700;
  }

  &__level {
    color: #81878c;
    font-size: 12px;
  }
}
